
#form {
    /* display:flex;
    flex-direction: column;*/
    text-align: center; 

    padding:2px;
    background-color: #FFF5E4;
    padding-bottom: 50px;
    padding-top:20px;
    border: black 2px solid;
    border-radius: 7px;
    margin:10px;
    /*
    flex box alt
    margin-top:100px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    */
}
input{
    margin-bottom: 10px;
}
table{
    width:auto;
    border-collapse: collapse;
    table-layout: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    
}
#submit {
    margin-top:15px;
    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:medium;
    border-radius: 50px;
    border:2px solid black;
}
#submit:hover {
    background-color: black;
    color:whitesmoke;
    border:2px solid #FFF5E4;
}
#text {
    text-align: right;
}

#output {
    padding:15px;
    background-color: antiquewhite;
    border:2px solid black;
    border-radius:4px;
    box-shadow: 5px 7px 14px -4px rgba(0,0,0,0.75); 
    margin:50px;

    display:flex;
    justify-content: center;
    align-items: center;    
    width:max-content;
}
#output2 {
    padding:15px;
    background-color: antiquewhite;
    border:2px solid black;
    border-radius:4px;
    box-shadow: 5px 7px 14px -4px rgba(0,0,0,0.75); 
    margin:50px;

    display:flex;
    justify-content: center;
    align-items: center;    
    width:max-content;
}

#flex {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
