    #container {
        margin:10px;
    } 

    #main-flex{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin:10px;
    }

    #fields{
        display:flex;
        justify-content:right;
        flex-direction: column;
        align-items: center;
    }

    #fields, #checkers {
        padding:10px;
        margin:20px;
    }

    h1 {
        text-align: center;
    }